<div class="container-fluid "> 
  <!-- class : page__container -->

  <div class="row card-form">
    <div class="col-lg-12 col-md-12 card-group-row__col">
      <div class="card card-group-row__card">
        <div class="card-header card-header-large bg-light d-flex align-items-center">
          <div class="flex">
            <h4 class="card-header__title">Show Armada</h4>
            <p id="notice"><%= notice %></p>
          </div>
        </div>
        <div class="card-body d-flex align-items-center card-form__body">
          <%= form_with(model: @fleet, local: true) do |form| %>
            <div class="form-row">
              <div class="col-12 col-md-6 mb-3">
                <%= form.label :asset_id %>
                <%= form.select :asset_id ,options_for_select(@assets.map { |e| ["#{e.police_number} - #{e.capacity}",e.id,{:'capacity'=>e.capacity}]},(@fleet.asset_id)), {:include_blank=> '-- Pilih --'}, :required=>true, :class=>"form-control select2", :onchange=>"$('.capacity').val($(this).find(':selected').attr('capacity'))" ,:disabled=>true%>
              </div>


              <div class="col-12 col-md-6 mb-3">
                <%= form.label :kapasitas %>
                <input type="text" name="" disabled="disabled" class="form-control capacity">
              </div>
            </div>

            <div class="form-group">
              <%= form.label :driver_id %>
              <%= form.select :driver_id ,options_for_select(@drivers.map { |e| ["#{e.full_name}",e.id] },(@fleet.driver_id)), {:include_blank=> '-- Pilih --'}, :required=>true, :class=>"form-control select2" ,:disabled=>true%>
            </div>

            <div class="form-row">
              <div class="col-12 col-md-6 mb-3">
                <%= form.label :sim_check %>
                <%= form.select :sim_check ,options_for_select([["Ada","yes"],["Tidak Ada","no"]],(@fleet.sim_check)), {:include_blank=> '-- Pilih --'}, :required=>true, :class=>"form-control" ,:disabled=>true%>
              </div>

              <div class="col-12 col-md-6 mb-3">
                <%= form.label :ktp_check %>
                <%= form.select :ktp_check, options_for_select([["Ada","yes"],["Tidak Ada","no"]],(@fleet.ktp_check)), {:include_blank=> '-- Pilih --'}, :required=>true, :class=>"form-control" ,:disabled=>true%>
              </div>
            </div>

            <div class="form-row">
              <div class="col-12 col-md-6 mb-3">
                <%= form.label :stnk_check %>
                <%= form.select :stnk_check, options_for_select([["Ada","yes"],["Tidak Ada","no"]],(@fleet.stnk_check)), {:include_blank=> '-- Pilih --'}, :required=>true, :class=>"form-control" ,:disabled=>true%>
              </div>

              <div class="col-12 col-md-6 mb-3">
                <%= form.label :kir_check %>
                <%= form.select :kir_check, options_for_select([["Ada","yes"],["Tidak Ada","no"]],(@fleet.kir_check)), {:include_blank=> '-- Pilih --'}, :required=>true, :class=>"form-control" ,:disabled=>true%>
              </div>
            </div>

            <div class="form-group">
              <% case current_user.user_type %>
              <% when 'admin' %>
                <%= link_to "Edit", edit_fleet_path(@fleet), :class=>"btn btn-primary" %>
              <% end %>  
              <%= link_to 'Back', fleets_path ,:class=>"btn btn-secondary"%>
            </div>
          <% end %> 
        </div>
      </div>
    </div>
  </div>
</div>