<div class="container-fluid "> 
  <!-- class : page__container -->

    <div class="row card-group-row">
        <div class="col-lg-12 col-md-12 card-group-row__col">
            <div class="card card-group-row__card">
                <div class="card-header card-header-large bg-light d-flex align-items-center">
                    <div class="flex">
                        <h4 class="card-header__title">Data Supir</h4>
                        <div class="card-subtitle text-muted"><%= link_to 'Add Record', new_driver_path , :class=> "btn btn-primary"%></div>
                        <p id="notice"><%= notice %></p>
                    </div>
                    <!-- <div class="dropdown ml-auto">
                        <a href="#" data-toggle="dropdown" data-caret="false" class="text-dark-gray"><i class="material-icons">more_horiz</i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item">Action</a>
                            <a href="javascript:void(0)" class="dropdown-item">Other Action</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0)" class="dropdown-item">Some Other Action</a>
                        </div>
                    </div> -->
                </div>
                <div class="card-body d-flex align-items-center">
                  <div class="table-responsive border-bottom">
                    <table class="table table-sm mb-0 thead-border-top-0" id="table_id">
                      <thead>
                        <tr>
                          <th>Nama Lengkap</th>
                          <th>Nomor SIM</th>
                          <th>Nomor KTP</th>
                          <th>Status</th>
                          <th width="10px">Option</th>
                        </tr>
                      </thead>
                      <tbody class="list" id="staff02">
                        <% @drivers.each do |driver| %>
                          <tr>
                            <td>
                              <span ><%= driver.full_name %></span>
                            </td>
                            <td><span ><%= driver.sim_number %></span></td>
                            <td><span ><%= driver.identity_number %></span></td>
                            <td><span ><%= driver.status %></span></td>
                            <td>
                              <div class="dropdown ml-auto">
                                <a href="#" data-toggle="dropdown" data-caret="false" class="text-dark-gray"><i class="material-icons">more_horiz</i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                  <%= link_to 'Show', driver , :class=> "dropdown-item" %>
                                  <% case current_user.user_type %>
                                  <% when 'admin' %>
                                    <%= link_to 'Edit', edit_driver_path(driver), :class=> "dropdown-item" %>
                                    <div class="dropdown-divider"></div>
                                    <%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' }, :class=> "dropdown-item" %>
                                  <% end %>
                                </div>
                              </div>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>